# ignore all node_modules
node_modules
# ignore all package artifacts except "custom-changelog"
/apps/*/dist
/packages/*/dist
!/packages/custom-changelog/dist
# ignore all coverage reports
/apps/*/coverage
/packages/*/coverage
# ignore logs
yarn-error.log

# ignore files related to Turborepo
.turbo
*-profile.json
