# ignore all node_modules
node_modules
# ignore all package artifacts
/apps/*/dist
/packages/*/dist
# ignore all coverage reports
/apps/*/coverage
/packages/*/coverage
# ignore all junit reports
/apps/*/reports
/packages/*/reports
# ignore logs
yarn-error.log

# ignore files related to Turborepo
.turbo
*-profile.json
out
