name: Container - Publish

on:
  release:
    types: [published]

jobs:
  publish-container:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        db_type:
        - mongodb
        - postgresql
        - mariadb
      fail-fast: false

    steps:
    - uses: actions/checkout@v3
    - name: Set up metadata
      id: pkg_meta
      run: |
        echo "::set-output name=package_scope::@awesome-backup/${{ matrix.db_type }}-awesome-backup"
        echo "::set-output name=package_path::apps/${{ matrix.db_type }}-awesome-backup"
        echo "::set-output name=package_repository::ryu310/${{ matrix.db_type }}-awesome-backup"
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Login to docker.io registry
      run:
        echo ${{ secrets. DOCKER_REGISTRY_PASSWORD }} |
          docker login --username ${{ secrets. DOCKER_REGISTRY_USERNAME }} --password-stdin
    - name: Retrieve information from package.json
      uses: myrotvorets/info-from-package-json-action@1.1.0
      id: package-json
    - name: Set up Docker meta
      id: meta
      uses: docker/metadata-action@v4
      with:
        images: ${{ steps.pkg_meta.outputs.package_repository }}
        tags: |
          type=raw,value=latest
          type=semver,value=v${{ steps.package-json.outputs.packageVersion }},pattern={{major}}
          type=semver,value=v${{ steps.package-json.outputs.packageVersion }},pattern={{major}}.{{minor}}
          type=semver,value=v${{ steps.package-json.outputs.packageVersion }},pattern={{major}}.{{minor}}.{{patch}}
    - name: Build and push container
      uses: docker/build-push-action@v3
      with:
        context: .
        file: ./docker/Dockerfile
        platforms: linux/amd64
        push: true
        build-args: |
          packageScope=${{ steps.pkg_meta.outputs.package_scope }}
          packagePath=${{ steps.pkg_meta.outputs.package_path }}
          dbType=${{ matrix.db_type }}
        tags: ${{ steps.meta.outputs.tags }}

    - name: Update Docker hub's description
      uses: peter-evans/dockerhub-description@v3.0.0
      env:
        DOCKERHUB_USERNAME: ${{ secrets.DOCKER_REGISTRY_USERNAME }}
        DOCKERHUB_PASSWORD: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}
        DOCKERHUB_REPOSITORY: ${{ steps.pkg_meta.outputs.package_repository }}
        README_FILEPATH: ${{ steps.pkg_meta.outputs.package_path }}/README.md
