name: Release - Prepare next master

on:
  pull_request:
    types: [closed]
    branches:
    - stable

jobs:
  bump-up-version:
    if:  github.head_ref == 'master'

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/setup-node@v3
      with:
        node-version: "16.13.1"
        cache: "yarn"
    - run: yarn install
    - name: Bump up version
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com
        git checkout -b next-version master

        yarn run bump-version:patch

        git commit -am 'Bump up version'
        git push origin next-version

        gh pr create --title 'support: Prepare next version'
